{% assign artefact = include.myArtefact %}

{% assign errorString = "" %}
{% assign warningString = "" %}

{% comment %}---------- First the generic checks -----------{% endcomment %}

{% include /functions/checks/generic/check-generic-aspects.html myArtefact=artefact
		myErrorString="" myWarningString="" %}
{% assign myPurpose = site.translations[site.lang].interviews.stakeholderPurpose %}
{% include /functions/checks/generic/check-generic-refs.html myArtefact=artefact myCheckedRef=artefact.stakeholder
		myCheckedRefType="stakeholder" asList=false emptyMeansError=true
		myPurpose=myPurpose myErrorString=errorString myWarningString=warningString %}

{% assign errorList = errorString | split: ";" %}
{% assign warningList = warningString | split: ";" %}


{% comment %} ***** Error/Warning Numbers 710 - 729 reserved for Interview **** {% endcomment %}

{% comment %}---------- questionnaireUrl -----------{% endcomment %}
{% if artefact.questionnaireUrl == Nil %}
	{% assign myMsg = site.translations[site.lang].interviews.questionnaireUrlErrMsg %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="w710" msg=myMsg %}
	{% assign warningList = warningList | push: out_msg %}
{% endif %}

{% comment %}---------- transscriptUrl -----------{% endcomment %}
{% if artefact.transscriptUrl == Nil %}
	{% assign myMsg = site.translations[site.lang].interviews.transscriptUrlErrMsg %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="w711" msg=myMsg %}
	{% assign warningList = warningList | push: out_msg %}
{% endif %}

{% comment %}---------- date -----------{% endcomment %}
{% if artefact.date == Nil %}
	{% assign myMsg = site.translations[site.lang].interviews.dateMissing %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="e712" msg=myMsg %}
	{% assign errorList = errorList | push: out_msg %}
{% endif %}


{% comment %}---------- duration -----------{% endcomment %}
{% if artefact.date == Nil %}
	{% assign myMsg = site.translations[site.lang].interviews.durationMissing %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="w713" msg=myMsg %}
	{% assign warningList = warningList | push: out_msg %}
{% endif %}


{% comment %}---------- location -----------{% endcomment %}
{% if artefact.location == "videoconf" or artefact.location == "f2f" %}
{% else %}
	{% assign myMsg = site.translations[site.lang].interviews.locationErrMsg %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="e714" msg=myMsg %}
	{% assign errorList = errorList | push: out_msg %}
{% endif %}


{% assign errorString = errorList | compact | join: ";" %}
{% assign warningString = warningList | compact | join: ";" %}