{% assign artefact = include.myArtefact %}

{% assign errorString = "" %}
{% assign warningString = "" %}

{% comment %}---------- First the generic checks -----------{% endcomment %}

{% include /functions/checks/generic/check-generic-aspects.html myArtefact=artefact
		myErrorString="" myWarningString="" %}
{% include /functions/checks/generic/check-sources.html myArtefact=artefact
		myErrorString=errorString myWarningString=warningString %}
{% if artefact.belongsTo %}
    {% include /functions/checks/generic/check-generic-refs.html myArtefact=artefact
            myCheckedRef=artefact.belongsTo myCheckedRefType="goal" asList=false emptyMeansError=true
            myPurpose="'belongsTo'" myErrorString=errorString myWarningString=warningString %}
{% endif %}

{% assign errorList = errorString | split: ";" %}
{% assign warningList = warningString | split: ";" %}


{% comment %} ***** Error/Warning Numbers 790 - 809 reserved for Goal **** {% endcomment %}

{% comment %}---------- title -----------{% endcomment %}
{% if artefact.title %}
	{% if artefact.title.size < 10 %}
		{% assign myMsg = site.translations[site.lang].genericErrors.titleTooShort %}
		{% include /functions/define-message.html ignore=artefact.ignore msgno="w790" msg=myMsg %}
		{% assign warningList = warningList | push: out_msg %}
	{% endif %}
{% else %}
	{% assign myMsg = site.translations[site.lang].genericErrors.titleMissing %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="e791" msg=myMsg %}
	{% assign errorList = errorList | push: out_msg %}
{% endif %}

{% comment %}---------- belongsTo -----------{% endcomment %}
{% if artefact.belongsTo != Nil %}
    {% assign parentAcronym = artefact.belongsTo %}
    {% assign parentGoal = site.goals | where_exp: "goal", "goal.acronym == parentAcronym" | first %}
    {% if parentGoal.belongsTo != Nil %}
		{% assign myMsg = site.translations[site.lang].genericErrors.noNesting %}
		{% include /functions/define-message.html ignore=artefact.ignore msgno="e792" msg=myMsg %}
		{% assign errorList = errorList | push: out_msg %}
    {% endif %}
{% endif %}

{% comment %}---------- goalText -----------{% endcomment %}
{% if artefact.goalText == Nil %}
	{% assign myMsg = site.translations[site.lang].goals.errGoalTextMissing %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="e794" msg=myMsg %}
    {% assign errorList = errorList | push: out_msg %}
{% else %}
	{% if artefact.goalText.size < 20 %}
		{% assign myMsg = site.translations[site.lang].goals.goalTextTooShort %}
		{% include /functions/define-message.html ignore=artefact.ignore msgno="w892" msg=myMsg %}
		{% assign warningList = warningList | push: out_msg %}
	{% endif %}
{% endif %}

{% assign errorString = errorList | compact | join: ";" %}
{% assign warningString = warningList | compact | join: ";" %}