---
layout: default
---

{% include /functions/print-teacherbuttons.html myArtefact=page %}
{% include /functions/print-page-navigation.html myArtefact=page %}
{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}

<h1>{% t domainModels.headerDetail %} {{ artefactName }}</h1>

<dl>
    {% include /functions/print-authors.html page=page %}
    {% include /functions/print-history.html myArtefact=page %}
    {% include /functions/checks/check-domainModel.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>

<img src="{{ site.url }}{{ page.diagram | relative_url }}" />

{{ page.content }}
