---
layout: default
---

{% include /functions/print-teacherbuttons.html myArtefact=page %}
{% include /functions/print-page-navigation.html myArtefact=page %}

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
<h1>{% t glossary.header %} {{ artefactName }}</h1>

<p class="centralDescription">{{ page.definition }}</p>

<dl>
    <dt>{% t glossary.relevance %}</dt>
    <dd>{{ page.relevance }}</dd>

    {% include /functions/print-sources.html mySources=page.sources %}
    {% include /functions/print-authors.html page=page %}
    {% include /functions/print-history.html myArtefact=page %}
    {% include /functions/checks/check-glossary.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
