---
layout: default
---

{% include /functions/print-teacherbuttons.html myArtefact=page %}

{% include /functions/print-page-navigation.html myArtefact=page %}

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
<h1>Stakeholder {{ artefactName }}</h1>

{% if page.anonymous %}
    <p>
        {% t stakeholders.anonymous %}
    </p>
{% endif %}

<dl>

    <dt>{% t stakeholders.stakeholderRole %}</dt>
    {% for shr in page.stakeholderRole %}
        {% include /functions/get-link-to-artefact.html myRef=shr myTypeString="stakeholderRole" myIdFormat="prefix" %}
        <dd>{{ artefactLink }}</dd>
    {% endfor %}


    <dt>{% t global.relationshipToProject %}</dt>
    <dd> {{ page.relationshipToProject }} </dd>

    {% assign interviews = site.interviews | where: "stakeholder", page.acronym %}
    {% if interviews.size > 0 %}
        <dt>{% t stakeholders.interviewWith %}</dt>
        {% for interview in interviews %}
            {% include /functions/get-artefact-name.html myArtefact=interview myIdFormat="prefix" %}
            <dd><a href="{{ site.url }}{{ interview.url | relative_url }}">{{ artefactName }}</a></dd>
        {% endfor %}
    {% endif %}

    {% include /functions/print-sources.html mySources=page.sources %}
    {% include /functions/print-authors.html page=page %}
    {% include /functions/print-history.html myArtefact=page %}
    {% include /functions/checks/check-stakeholder.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
