---
layout: default
---

{% include /functions/print-teacherbuttons.html myArtefact=page %}
{% include /functions/print-page-navigation.html myArtefact=page %}

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
{% include /functions/get-system-context-subtype.html mySystemContextElement=page %}
<h1>Systemkontext: {{ subTypeString }} {{ artefactName }}</h1>

<p class="centralDescription">{{ page.description }}</p>

<dl>
    {% include /functions/print-sources.html mySources=page.sources %}
    {% include /functions/print-authors.html page=page %}
    {% include /functions/print-history.html myArtefact=page %}
    {% include /functions/checks/check-systemContextElement.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
