---
layout: default
---

{% assign sortField = site.data.metadata["stakeholder"].sortField %}
{% if site.withTemplates %}
    {% assign collection = site.stakeholders %}
{% else %}
    {% assign collection = site.stakeholders | where_exp: "item", "item.isTemplate == Nil" %}
{% endif %}
{% assign collection = collection | sort: sortField %}

<h1>Stakeholder ({{ collection.size }})</h1>

{% t stakeholders.summary %}

<table>
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="10%">ID</th>
        <th width="15%">Name</th>
        <th width="25%">{% t stakeholders.stakeholderRoleTabHeader %}</th>
        <th width="40%">{% t global.relationshipToProject %}</th>
    </tr>
    </thead>
    <tbody>

        {% for stakeholder in collection %}
        <tr>
            {% include /functions/checks/check-stakeholder.html myArtefact=stakeholder %}
            {% include /functions/get-check-icon.html errors=errorString warnings=warningString todos=stakeholder.todo %}
            <td>{{ iconString }}</td>

            {% include /functions/get-globalid.html myArtefact=stakeholder %}
            <td><a href="{{ site.url }}{{ stakeholder.url | relative_url }}">{{ globalId }}</a></td>

            {% include /functions/get-artefact-name.html myArtefact=stakeholder %}
            <td><a href="{{ site.url }}{{ stakeholder.url | relative_url }}">{{ artefactName }}</a></td>

            {% include /functions/print-stakeholderRole-linklist.html stakeholderRoles=stakeholder.stakeholderRole %}
            <td>{{ linkString }}</td>

            <td>{{ stakeholder.relationshipToProject }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
