---
layout: default
---

{% assign sortField = site.data.metadata["useCase"].sortField %}
{% assign collection = site.useCases | sort: sortField %}
{% if site.withTemplates %}
{% else %}
    {% assign collection = collection | where_exp: "item", "item.isTemplate == Nil" %}
{% endif %}

<h1>Use Cases ({{ collection.size }})</h1>

{% t useCases.summary %}

<table>
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="8%">ID</th>
        <th width="50%">{% t global.Title %}</th>
        <th width="30%">{% t global.BelongsToFr %}</th>
    </tr>
    </thead>
    <tbody>

    {% for useCase in collection %}
    <tr>
        {% include /functions/checks/check-useCase.html myArtefact=useCase %}
        {% include /functions/get-check-icon.html errors=errorString warnings=warningString todos=useCase.todo %}
        <td>{{ iconString }}</td>

        {% include /functions/get-globalid.html myArtefact=useCase %}
        <td><a href="{{ site.url }}{{ useCase.url | relative_url }}">{{ globalId }}</a></td>

        {% include /functions/get-artefact-name.html myArtefact=useCase %}
        <td><a href="{{ site.url }}{{ useCase.url | relative_url }}">{{ artefactName }}</a></td>

        {% include /functions/get-link-to-artefact.html myRef=useCase.functionalRequirement
                myTypeString="functionalRequirement" myIdFormat="prefix" %}
        <td>{{ artefactLink }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
