{% assign localHashString = include.myHashString %}
{% assign localKey = include.myKey %}

{% comment %}   This helper method emulates a hashmap. It gets the value at the 'key' position.
                The hash is represented like this: value1$$key1__value2$$key2__ ... etc.
                (value and key are switched so that we can later sort this according to values)
{% endcomment %}

{% assign localHashList = localHashString | split: "__" %}
{% assign returnValueString = "undef" %}
{% for entry in localHashList %}
    {% assign entryList = entry | split: "$$" %}
    {% if entryList[1] == localKey %}
        {% assign returnValueString = entryList[0] %}
        {% break %}
    {% endif %}
{% endfor %}

